{
    "presets": [
        ["@babel/preset-env", { "modules": false }],
        "@babel/preset-react"
    ],
    "plugins": [
        "syntax-async-functions",
        "transform-class-properties",
        "transform-object-rest-spread",
        "@babel/plugin-transform-regenerator"
    ],
    "env": {
        "test": {
            "presets": [
                "@babel/preset-env"
            ],
            // For some reason this duplicate is needed
            "plugins": [
                "@babel/plugin-transform-class-properties"
            ]
        },
        "CommonJS": {
            "presets": [
                "@babel/preset-env"
            ],
            // For some reason this duplicate is needed
            "plugins": [
                "@babel/plugin-transform-class-properties"
            ]
        }
    }
}
